/* Michael Masterson
http://people.emich.edu/mmaster8/COSC436//011217/011217.css
COSC 436
Assignment 01/12/17
Winter 2017 */
.gloomy{
	color: black;
	font-family: "Chiller", Times, serif;
	text-align: center;
	font-size: 40px;
}
.searchString
{
background-color:yellow;
}
